/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 100vw;
  height: 100vh;
  border: 2px black solid;
}

 
  /* the main container */
  .main-container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
    border: 2px rgb(233, 172, 4) solid;
  } 
  
  /* inputs */
  input{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 2px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
    border: 2px rgb(0, 0, 0) solid;
  }

  
  .btn {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 2px;
    margin: 20px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
    border: 2px rgb(0, 0, 0) solid;
  }
  
  .btn1 {
    width: 40%;
    padding: 10px;
    margin-left: 242px;
    display: inline-block;
    text-decoration: none; 
    border: 2px rgb(0, 0, 0) solid;
  }
  
  .btn2 {
    width: 40%;
    padding: 10px;
   margin-right: 245px;
    display: inline-block;
    text-decoration: none; 
    border: 2px rgb(0, 0, 0) solid;
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
    
  }
  
  
  .facebook {
    background-color: #3B5998;
    color: white;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }
  
  /* submit buttons */
  input[type=submit] {
    background-color: #2884ee;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0156f5;
  }
  
  /* containers */
  .small-container-left, 
  .small-container-right, 
  .small-container {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
    border: 2px rgb(223, 8, 8) solid;
  }
  .small-container5{
    float: left;
    width: 50%;
    padding: 0 50px;
    margin-top: 6px;
    border: 2px rgb(223, 8, 8) solid;
  }
  .small-container6 {
    float: right;
    width: 50%;
    padding: 0 50px;
    margin-top: 6px;
    border: 2px rgb(223, 8, 8) solid;
  }
  .rememberMe-login {
    display: flex;
    width: 108%;
    justify-content: space-evenly;
    border: 2px rgb(223, 8, 8) solid;
    flex-direction: row;
  }

  .rememberMe-login1 {
   
    display: flex;
    width: 60%;
    justify-content: left;
    border: 2px rgb(8, 40, 223) solid;
    flex-direction: row;
  }
  
  input[type= checkbox] {
align-self: flex-start;
  }


  .main:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  /* middle line */
  .middle-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 250px;
    border: 2px black solid;
  }
  
  /* or inside the middle container */
  .inside-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
    border: 2px rgb(40, 238, 13) solid;
  }
  

  
  /* bottom container */
  .bottom-container {
    text-align: center;
    background-color: rgb(231, 245, 253);
    color: blue;
   
    border: 2px rgb(134, 197, 122) solid;
  }
  
