/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}


body {
  font-family: "Roboto", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 100vw;
  height: 45vh;
}

 
  /* the main container */
  .main-container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
    border: 1px rgb(206, 206, 206) solid;
    
    

    
  } 
  
  /* inputs username+password */
  .pass, .txt {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 2px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
    font-weight: bold;

  }

  /* social media buttons  */
  .btn {
    width: 85%;
    padding: 20px;
    border: none;
    border-radius: 2px;
    margin: 20px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
    font-size: 1.2rem;
    
  }
  
  /* bottom-container buttons  */
  .btn1 {
    width: 40%;
    padding: 10px;
    margin-left: 242px;
    display: inline-block;
    text-decoration: none; 
    color: rgb(2, 140, 231);
    font-size: 1.1rem;
    
  }
  
  .btn2 {
    width: 40%;
    padding: 10px;
   margin-left: -300px;
    display: inline-block;
    text-decoration: none; 
    color: rgb(2, 140, 231);
    font-size: 1.1rem;
  }
  
  /* hover for inputs + buttons */
  input:hover,
  .btn:hover {
    opacity: 1;
    
  }
  
  /* social media buttons color + fonts */
  
  .facebook {
    background-color: #3B5998;
    color: white;
    font-weight: bold;
    
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
    font-weight: bold;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
    font-weight: bold;
  }
  
  /* submit button */
  input[type=submit] {
    background-color: #4d98ec;
    border: 2px solid #4d98ec;
    color: white;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 1rem;

  }
  
  input[type=submit]:hover {
    background-color: #23a5f0;
    
  }


  /* containers */
  .small-container-left, 
  .small-container-right, 
  .small-container {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
   
  }
 /* .bottom-container  */

  .small-container5{
    float: left;
    width: 50%;
    padding: 0 50px;
    margin-top: 6px;
    border: 1px rgb(206, 206, 206) solid;
   
  }
  .small-container6 {
    float: right;
    width: 50%;
    padding: 0 50px;
    margin-top: 6px;
    border: 1px rgb(206, 206, 206) solid;
  }

  /* remeber me container + login  */
  .rememberMe-login {
    display: flex;
    
    
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
  }

  .rememberMe-login1 {
   
    margin: 2px;
    width: 100%;
    height: 50%;
    padding: 8px 10px;
    text-align: left;
    text-decoration: solid;
    
    
  }
  
  .rememberMe-login2 {
   margin: 2px;
  
    height: 50%;
    width: 50%;
      
    text-align: center;
  }

  input[type= checkbox] {
align-self: flex-start;
  }


  /* main container  */
  .main:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  /* middle line */
  .middle-container {
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 300px;
    border: 2px rgb(206, 206, 206) solid;
    
  }
  
  /* or inside the middle container */
  .inside-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 500%;
    padding: 18px 18px;
    font-weight: bold;
    font-size: 1.2rem;
    color: gray;
    
  }
  

  
  /* bottom container */
  .bottom-container {
    text-align: center;
    background-color: rgb(17, 131, 197);
    color: rgb(13, 151, 243);
    /* border: 1px rgb(206, 206, 206) solid; */
    font-weight: bold;
    font-size: 1.1rem;
  }

  .main2 {
    border: 1px rgb(206, 206, 206) solid;
   
  }
  
